@charset "utf-8";

/* FONTS */

@font-face {
    font-family: 'twitch-logo';
    src: url(../fonts/Twitch/Twitchy.TV.otf);
}

@font-face {
    font-family: 'helvetica';
    src: url(../fonts/helvetica_neue/HelveticaNeueLTStdBd.otf);
}

* {
    font-family: 'helvetica';
}


/* COLORES */

:root {
    --color1: rgb(176, 125, 252);
    --color2: rgb(131, 90, 192);
    --color3: rgb(226, 226, 226);
}

.text-color1 {
    color: var(--color1);
    text-decoration: none;
}

.text-color1:hover {
    color: var(--color2);
    transition: all 0.5s ease;
    padding: 2px 4px;
}

.fondo-color {
    background-color: var(--color1);
    border: none;
    border-radius: 4px;
}

.fondo-color:hover {
    background-color: var(--color2);
    border: none;
    border-radius: 4px;
    transition: all 0.5s ease;
    padding: 6px 12px;
}

.fondo-color-perfil {
    background-color: var(--color1);
    border: none;
    border-radius: 4px;
    transition: all 0.5s ease;
}

.fondo-color-perfil:hover {
    background-color: var(--color2);
    border: none;
    border-radius: 4px;
    padding: 6px 12px;
    transform: scale(1.1);
}

.fondo-color-logout {
    background-color: var(--color1);
    border-radius: 4px;
}

.fondo-color-logout:hover {
    background-color: var(--color2);
    transition: all 0.5s ease;
    border-radius: 4px;
}

.tamaño_session {
    font-size: 15px;
    color: white;
    padding: 4px 8px;
    width: 100%;
}

.tamaño_session2 {
    font-size: 15px;
    color: white;
    padding: 4px 8px;
}

.tamaño_session3 {
    font-size: 15px;
    color: white;
    padding: 4px 8px;
    width: 50%;
}

.tamaño_session4 {
    font-size: 15px;
    color: white;
    padding: 2px 4px;
}

.tamaño_session4:hover {
    font-size: 15px;
    color: white;
    transition: all 0.5s ease;
    padding: 4px 8px;
}

.fondo-web {
    background-color: var(--color3);
}


/* HEADER */

#cart_menu_num {
    position: absolute;
    background: var(--color1);
    right: 1px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 2px;
}

#cart_menu_num:hover {
    position: absolute;
    right: 1px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 2px;
}

.carrito_hover1 {
    width: 40px;
    height: 40px;
    background-image: url('../icons/carrito.svg');
    background-size: cover;
    transition: all 0.5s ease;
}

.carrito_hover1:hover {
    width: 40px;
    height: 40px;
    background-image: url('../icons/carrito2.svg');
    transform: scale(1.2);
}

.despegable {
    visibility: hidden;
}

.despegable2 {
    visibility: visible;
}

@media (max-width: 992px) {
    .despegable {
        visibility: visible;
    }
    .despegable2 {
        visibility: hidden;
    }
}


/* width: 100%;
        left: 0px;
        height: 158px; */


/* FOOTER */


/* POLITICAS */

.tamaño_letra {
    font-size: 15px;
    text-decoration: none;
    color: black;
}

.tamaño_letra:hover {
    color: var(--color2);
    transition: all 0.5s ease;
    padding: 3px 6px;
}

.conf_priv {
    text-align: left;
}

.conf_cookies {
    text-align: center;
}

.conf_avis {
    text-align: right;
}

.redes_hover1 {
    width: 30px;
    height: 30px;
    background-image: url('../icons/insta.svg');
    background-size: cover;
    transition: all 0.5s ease;
}

.redes_hover2 {
    width: 30px;
    height: 30px;
    background-image: url('../icons/facebook.svg');
    background-size: cover;
    transition: all 0.5s ease;
}

.redes_hover3 {
    width: 30px;
    height: 30px;
    background-image: url('../icons/twitter.svg');
    background-size: cover;
    transition: all 0.5s ease;
}

.redes_hover4 {
    width: 30px;
    height: 30px;
    background-image: url('../icons/youtube.svg');
    background-size: cover;
    transition: all 0.5s ease;
}

.redes_hover1:hover {
    background-image: url('../icons/insta2.svg');
    transform: scale(1.2);
}

.redes_hover2:hover {
    background-image: url('../icons/facebook2.svg');
    transform: scale(1.2);
}

.redes_hover3:hover {
    background-image: url('../icons/twitter2.svg');
    transform: scale(1.2);
}

.redes_hover4:hover {
    background-image: url('../icons/youtube2.svg');
    transform: scale(1.2);
}


/* TEXTO COPYRIGHT */

.texto {
    font-size: 10pt;
}


/* VERSION MOVIL FOOTER */

@media (max-width: 992px) {
    /* CONTENIDO A OCULTAR */
    .ocultar_div {
        display: none;
    }
}


/* HOME */

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(100%);
}

.container {
    position: relative;
}

.image {
    opacity: 1;
    display: block;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    bottom: 14%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
}

.middle2 {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 78%;
    left: 90%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.container:hover .image {
    opacity: 0.8;
}

.container:hover .middle {
    opacity: 1;
}

.container:hover .middle2 {
    opacity: 1;
}

.play {
    width: 40px;
    height: 40px;
    background-image: url('../icons/play.svg');
    background-size: cover;
    transition: all 0.5s ease;
    border-radius: 50%;
    background-color: white;
}

.play:hover {
    background-image: url('../icons/play2.svg');
    transform: scale(1.2);
}


/* VERSION MOVIL HOME */

@media (max-width: 992px) {
    .middle2 {
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 75%;
        left: 92%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
    }
}


/* CANCIONES */

.card {
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.card-img-top {
    max-height: 350px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-title {
    font-size: 1.2rem;
    font-weight: bold;
}

audio {
    width: 100%;
    height: 40px;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    outline: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

audio::-webkit-media-controls-panel {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
}

audio::-webkit-media-controls-play-button {
    background-color: transparent;
    border: none;
    color: #444;
    font-size: 1.5rem;
    margin-right: 10px;
}

audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display {
    background-color: transparent;
    border: none;
    color: #444;
    font-size: 0.8rem;
    margin-right: 10px;
}

audio::-webkit-media-controls-volume-slider {
    height: 5px;
    width: 50px;
    margin-right: 3px;
}

audio::-webkit-media-controls-mute-button {
    background-color: transparent;
    border: none;
    color: #444;
    font-size: 1.5rem;
    margin-right: 10px;
}


/* VERSION MOVIL FOOTER */

@media (max-width: 992px) {
    audio::-webkit-media-controls-volume-slider {
        height: 0px;
        width: 0px;
        margin-right: 5px;
    }
}


/* PRODUCTOS */

.card-img-top2 {
    max-height: 350px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


/* MERCHANDISING ARTISTAS */

.card-img-top3 {
    max-height: 350px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
}

.middle3 {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    bottom: 9%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
}

.middle4 {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    bottom: 7%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
}

.container:hover .middle3 {
    opacity: 1;
}

.container:hover .middle4 {
    opacity: 1;
}

.espaciado-foto {
    padding: 0;
}


/* CARRITO */

.card#tamaño-card {
    width: 400px;
}

.posicion-card {
    position: fixed;
    top: 200px;
    right: 100px;
    z-index: 5;
    width: 300px;
}

.compra-ver {
    width: 80%;
}


/* VERSION MOVIL CARRITO */

@media (max-width: 992px) {
    .card#tamaño-card {
        width: 350px;
    }
    .posicion-movil {
        margin-top: 5%;
    }
    .compra-ver {
        width: 100%;
    }
    .posicion-card {
        position: static;
        margin-bottom: 40px;
        margin-left: 5%;
        margin-right: 5%;
        width: 90%;
    }
}